[Unit]
Description=Prometheus - Cluster A
Wants=network-online.target
After=network-online.target node-exporter-a.service

[Service]
User=prometheus
Group=prometheus
Type=simple

ExecStart=/usr/local/bin/prometheus \
  --config.file=/etc/prometheus/cluster-a/prometheus.yml \
  --storage.tsdb.path=/var/lib/prometheus/cluster-a \
  --web.listen-address=127.0.0.1:9090 \
  --web.enable-lifecycle

Restart=on-failure
RestartSec=5

NoNewPrivileges=true
PrivateTmp=true
ProtectSystem=strict
ProtectHome=true
ReadWritePaths=/var/lib/prometheus/cluster-a

[Install]
WantedBy=multi-user.target
