[Unit]
Description=Prometheus Demonstration Traffic Generator
Wants=network-online.target prometheus-metric-app.service
After=network-online.target prometheus-metric-app.service

[Service]
Type=simple
User=ubuntu
Group=ubuntu
WorkingDirectory=/home/ubuntu/prometheus-metric-types

Environment=INTERVAL_SECONDS=1
ExecStart=/home/ubuntu/prometheus-metric-types/generate_traffic.sh

Restart=always
RestartSec=3s

NoNewPrivileges=true
PrivateTmp=true
ProtectHome=read-only
ProtectSystem=strict

[Install]
WantedBy=multi-user.target
