[Unit]
Description=Thanos Object Storage Compactor
Wants=network-online.target
After=network-online.target minio.service

[Service]
User=prometheus
Group=prometheus
Type=simple

ExecStart=/usr/local/bin/thanos compact \
  --data-dir=/var/lib/thanos/compactor \
  --objstore.config-file=/etc/thanos/bucket.yml \
  --http-address=127.0.0.1:10907 \
  --wait

Restart=on-failure
RestartSec=5

NoNewPrivileges=true
PrivateTmp=true
ProtectHome=true
ProtectSystem=strict
ReadWritePaths=/var/lib/thanos/compactor

[Install]
WantedBy=multi-user.target
