[Unit]
Description=Prometheus Monitoring Server
Wants=network-online.target alertmanager.service
After=network-online.target alertmanager.service

[Service]
User=prometheus
Group=prometheus
Type=simple

ExecStart=/usr/local/bin/prometheus \
  --config.file=/etc/prometheus/prometheus.yml \
  --storage.tsdb.path=/var/lib/prometheus \
  --storage.tsdb.retention.time=7d \
  --web.listen-address=127.0.0.1:9090 \
  --web.enable-lifecycle

Restart=on-failure
RestartSec=5s

NoNewPrivileges=true
PrivateTmp=true
ProtectHome=true
ProtectSystem=strict

ReadWritePaths=/var/lib/prometheus

[Install]
WantedBy=multi-user.target
